*,*::before,
*,*::after {
  box-sizing: inherit;
}
.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
  box-sizing: border-box;
}
.container {
  width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
.page-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #f7e296;
}
.row {
  display: flex;
}
.bx-viewport {
  overflow: auto;
  height: 100%;
}




