@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.eot");
  src: url("../fonts/Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Light.eot");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../ fonts/OpenSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

*, *::before,
*, *::after {
  box-sizing: inherit;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #ffffff;
  box-sizing: border-box;
}

.container {
  width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #f7e296;
}

.row {
  display: flex;
}

.bx-viewport {
  overflow: auto;
  height: 100%;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.page-header {
  position: relative;
  margin-top: 40px;
  padding: 0 51px;
  padding-bottom: 156px;
  background-color: #f7e296;
}

.page-header .logo {
  position: absolute;
  top: -24px;
  left: 49px;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
}

.page-header--inner {
  padding-bottom: 40px;
  margin-bottom: 37px;
}

.logo__link {
  color: #000000;
  text-decoration: none;
}

.page-header__top {
  display: flex;
  padding-top: 36px;
}

.page-header__search {
  position: relative;
}

.page-header__search {
  margin-right: 177px;
}

.search {
  width: 365px;
  position: relative;
}

.search__input {
  width: 100%;
  padding: 15px 20px;
  padding-left: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.search__input:hover {
  color: #000000;
}

.search__input:focus {
  border-color: #000000;
}

.search__input:focus ~ .search__btn {
  opacity: 1;
}

.search__loupe {
  position: absolute;
  left: -2px;
  top: 14px;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search__btn {
  position: absolute;
  top: -1px;
  right: -88px;
  display: inline-block;
  padding: 10px 21px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #000000;
  border: 2px solid #000000;
  opacity: 0;
  text-decoration: none;
  transition: all 0.3s;
}

.search__btn:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: transparent;
}

.search__btn:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.page-header__user-block {
  margin-top: 4px;
}

.login__link {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s;
}

.login__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.login__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.login__link:hover .login__icon path {
  fill: rgba(0, 0, 0, 0.6);
}

.login__link:active .login__icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.login__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.login-logout__link {
  padding-left: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.user-block {
  width: 500px;
}

.user-block-row {
  justify-content: space-between;
  align-items: center;
}

.action__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s;
}

.action__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.action__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.action__link:hover .action__icon path {
  fill: rgba(0, 0, 0, 0.8);
}

.action__link:active .action__icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.action__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.action__link--basket {
  margin-left: 36px;
}

.page-header__bottom {
  padding-top: 30px;
}

.main-navigation__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation__item {
  margin-right: 65px;
}

.main-navigation__item:hover .main-navigation__dropdown-list {
  display: block;
}

.main-navigation__item:last-child {
  margin-right: 0;
}

.main-navigation__link {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  transition: all 0.4s;
}

.main-navigation__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation__link:hover .main-navigation__icon path {
  fill: rgba(0, 0, 0, 0.5);
}

.main-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__link:active .main-navigation__icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.main-navigation__item:first-child {
  margin-right: 329px;
}

.main-navigation__item:last-child {
  margin-left: 60px;
}

.main-navigation__iconed {
  padding-right: 19px;
  position: relative;
}

.main-navigation__iconed::before, .main-navigation__iconed::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: transparent;
}

.main-navigation__icon {
  position: absolute;
  top: 1px;
  right: -23px;
}

.main-navigation__dropdown-list {
  position: absolute;
  left: 30px;
  bottom: 0;
  display: none;
  z-index: 1;
  width: 98%;
  margin: 0;
  padding: 0;
  background-color: #f7e296;
  list-style-type: none;
}

.main-navigation__dropdown__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 60px;
}

.main-navigation__dropdown-link {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  color: #000000;
  text-decoration: none;
}

.main-navigation__dropdown-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation__dropdown-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__dropdown-link--ml {
  margin-left: -18px;
}

.slider {
  position: relative;
  margin-bottom: -42px;
}

.slider > input[type="radio"] {
  position: absolute;
  display: none;
}

.slide {
  min-height: 485px;
  display: none;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider__controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider__controls label[for="btn-3"]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 2px solid #000000;
  border-radius: 50%;
}

#btn-1:checked ~ #slide-1 {
  display: block;
}

#btn-2:checked ~ #slide-2 {
  display: block;
}

#btn-3:checked ~ #slide-3 {
  display: block;
}

.slider__controls {
  position: absolute;
  bottom: 181px;
  right: 20px;
  height: 100px;
  width: 140px;
}

.slider__controls label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slide__number {
  position: absolute;
  right: 48px;
  top: -128px;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
}

.slide__left {
  width: 400px;
  margin-right: 111px;
  margin-left: 90px;
}

.slider__img {
  position: relative;
  top: -112px;
}

.slide__right {
  width: 491px;
}

.heading-bordered {
  position: relative;
  font-size: 47px;
  line-height: 54px;
  font-weight: 800;
  color: #000000;
}

.heading-bordered::before {
  content: "";
  position: absolute;
  top: -46px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.heading-bordered--black::before {
  content: "";
  width: 82px;
  background-color: #000000;
}

.slider__img--correct {
  position: relative;
  top: -47px;
  left: -64px;
}

.slider__title {
  position: relative;
  top: -31px;
  margin-bottom: -9px;
}

.slide__desc {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 44px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, orange 40%, orange 60%, transparent 60%, transparent 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  transition: all 0.4s;
}

.btn:hover {
  background-size: 100% 1000%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider__btn {
  margin-top: 41px;
  margin-bottom: 45px;
}

.slider__table-desc th {
  padding: 10px 0;
  padding-right: 76px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

.slider__table-desc th:last-child {
  padding-right: 0;
}

.slider__table-desc td {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.product {
  margin-bottom: 188px;
}

.product__row {
  align-content: center;
  align-items: center;
}

.product__item {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-right: 40px;
}

.product__item:last-child {
  margin-right: 0;
}

.product__img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  margin-bottom: 35px;
  background-color: #f7e296;
}

.product__img:hover {
  background-color: #f0c52e;
}

.product__img:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.product__img--mt {
  margin-top: 29px;
}

.product__img-down {
  align-items: flex-end;
}

.product__desc {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
}

.product__desc:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-left {
  width: 460px;
  margin-right: 95px;
}

.partner {
  margin-bottom: 128px;
}

.partner__item {
  margin-right: 39px;
}

.partner__logo {
  opacity: 0.2;
  cursor: pointer;
}

.partner__logo:hover {
  opacity: 1;
}

.features {
  margin-bottom: 97px;
  padding-bottom: 125px;
  background-color: #e5e5e5;
}

.features__list {
  position: relative;
  width: 280px;
  margin: 0;
  margin-right: 122px;
  padding: 0;
  list-style-type: none;
}

.features__list::before {
  content: "";
  position: absolute;
  top: -100px;
  right: -6px;
  width: 7px;
  height: 319px;
  background-image: url(../../img/features-border.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.features__item {
  margin-bottom: 16px;
}

.features__item--current {
  position: relative;
  top: -19px;
}

.features__item--current .features__link {
  display: inline-block;
  vertical-align: top;
  padding: 10px 44px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  color: #f7e184;
  background-color: #000000;
  text-decoration: none;
}

.features__title {
  position: relative;
  top: -26px;
  left: 0;
  margin-bottom: 6px;
  font-size: 47px;
  line-height: 47px;
  font-weight: bold;
  color: #000000;
}

.features-right {
  position: relative;
}

.features__icon {
  position: absolute;
  top: -16px;
  left: 2px;
}

.about-us {
  padding-bottom: 83px;
}

.about-us-row {
  justify-content: space-between;
}

.about-us__left {
  width: 485px;
}

.about__title {
  margin-bottom: 43px;
}

.about-us__desc {
  margin-bottom: 30px;
}

.about-us__list {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 55px;
  padding: 0;
  list-style-type: none;
}

.about-us__item {
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
}

.about-us__item--custom {
  position: relative;
  padding-left: 38px;
}

.about-us__item--custom::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 3px;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us__right {
  width: 560px;
}

.about-us__desc--correct {
  margin-bottom: 38px;
}

.about-us__map {
  margin-bottom: 60px;
}

.big-heading {
  margin-left: 60px;
  margin-bottom: 18px;
  font-size: 47px;
  line-height: 47px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #000000;
}

.breadcrumbs {
  margin-left: 53px;
  margin-bottom: 43px;
}

.breadcrumbs__list {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  list-style-type: none;
}

.breadcrubms__item {
  position: relative;
  padding-right: 20px;
  margin-right: 18px;
}

.breadcrubms__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 4px;
  height: 7px;
  background-image: url(../../img/nav-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrubms__item--current span {
  color: rgba(0, 0, 0, 0.3);
}

.content {
  position: relative;
  padding-bottom: 73px;
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  min-height: 70px;
  background-color: #ebebeb;
}

.filter {
  position: relative;
  width: 260px;
  z-index: 10;
  height: 106%;
  margin-left: 59px;
  padding-right: 56px;
  color: #000000;
}

.filter::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #eeeeee;
  width: 50vw;
  z-index: -10;
}

.filter__title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 75px;
  padding: 25px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.filter__title::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -57px;
  z-index: -5;
  min-height: 70px;
  width: 50vw;
  background-color: #dcdcdc;
}

.filter__item {
  padding-top: 15px;
  padding-bottom: 33px;
  border-bottom: 2px solid #000000;
}

.filter__item--border-no {
  border-bottom: none;
}

.filter__group-title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
}

.filter__group-title--bordered {
  position: relative;
}

.filter__group-title--bordered::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filter__range {
  position: relative;
  min-height: 20px;
}

.range__border {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  border-top: 2px solid #e7e7e7;
}

.range__proggres {
  position: absolute;
  top: -2px;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: #91c92f;
}

.range__btn-icon {
  cursor: pointer;
}

.range__btn--min {
  position: absolute;
  top: -10px;
  left: -5px;
}

.range__btn--max {
  position: absolute;
  top: -12px;
  right: 75px;
}

.range__price {
  display: flex;
}

.price {
  font-size: 14px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.2);
}

.price--min {
  margin-right: 61px;
}

.filter__group-title--color {
  margin-bottom: 17px;
}

.filter__choise-text {
  position: relative;
  display: block;
  padding-left: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  color: #000000;
}

.filter__choise-input {
  display: none;
}

.filter__indicator {
  position: absolute;
  top: 10px;
  left: 0;
  cursor: pointer;
}

.filter__indicator:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.filter__indicator:active {
  border-color: #000000;
}

.filter__indicator--checkbox {
  width: 23px;
  height: 22px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.filter__choise-input:checked + .filter__indicator--checkbox::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 23px;
  height: 22px;
  background-image: url("../../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter__choise-input:checked + .filter__indicator--checkbox::before:hover {
  opacity: 0.6;
}

.filter__choise-input:checked + .filter__indicator--checkbox::before:active {
  opacity: 1;
}

.filter__indicator--radio {
  top: 10px;
  left: 0;
  width: 25px;
  height: 23px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter__choise-input--radio:checked + .filter__indicator--radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.filter__submit {
  border: none;
  cursor: pointer;
}

.sourting {
  padding-left: 82px;
}

.sourting__title {
  margin-right: 46px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.sourting__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 240px;
  padding: 0;
  list-style-type: none;
}

.sourting__item:not(:last-child) {
  margin-right: 28px;
}

.sourting__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sourting__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sourting__link:active {
  color: #000000;
}

.sourting__item--current .sourting__link {
  color: #000000;
}

.sourting__indicator {
  position: relative;
}

.indicator {
  position: relative;
  cursor: pointer;
}

.indicator path {
  fill: rgba(0, 0, 0, 0.2);
}

.indicator:hover path {
  fill: rgba(0, 0, 0, 0.4);
}

.indicator__icon-up {
  position: absolute;
  top: 17px;
  left: -5px;
}

.indicator__icon-down {
  position: absolute;
  top: 17px;
  right: -37px;
}

.indicator--current .indicator__icon-up path {
  fill: #000000;
}

.main-product {
  margin-top: 70px;
  margin-left: 70px;
}

.main-product-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-product__item {
  position: relative;
  margin-bottom: 50px;
  transition: all 0.4s;
  cursor: pointer;
}

.main-product__item:hover .main-product__buy {
  display: block;
}

.desc-row {
  justify-content: space-between;
  align-items: center;
}

.main-product__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 28px;
}

.main-product__desc {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.main-product__price {
  font-size: 16px;
  line-height: 16px;
}

.main-product__new {
  position: absolute;
  top: 27px;
  right: 25px;
  width: 60px;
  padding: 20px 14px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.main-product__buy {
  display: none;
  z-index: 10;
  position: absolute;
  top: 170px;
  left: 80px;
}

.buy__desc {
  font-family: "Open Sans" , Arial , sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.main-product__pagination {
  background-color: #ebebeb;
}

.main-product__pagination-row {
  justify-content: space-between;
}

.pagination__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  margin-right: 25px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.pagination__link--number {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link--number:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__link--number:active {
  color: #000000;
}

.pagination__item--current .pagination__link {
  color: #000000;
}

.pagination__link--prev,
.pagination__link--next {
  display: inline-block;
  vertical-align: top;
  padding: 25px 30px;
}

.pagination__link--prev:hover,
.pagination__link--next:hover {
  background-color: #d9d9d9;
}

.pagination__link--prev:active,
.pagination__link--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link--prev {
  margin-right: 25%;
}

.pagination__link--next {
  margin-left: 25%;
}

.page-footer {
  background-color: #464646;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 79px;
}

.page-footer__top {
  padding-bottom: 49px;
}

.page-footer__top-row {
  justify-content: space-between;
  margin-top: -2px;
}

.page-footer__logo .logo {
  margin-bottom: 35px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffc600;
}

.page-footer__top .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 360px;
}

.action .action__link--correct {
  color: rgba(255, 255, 255, 0.6);
}

.action .action__link--correct:hover {
  color: white;
}

.action .action__link--correct:active {
  color: rgba(255, 255, 255, 0.3);
}

.action .action__link--correct:hover .action__icon--correct path:hover {
  fill: rgba(255, 198, 0, 0.6);
}

.action .login__icon {
  top: 0;
  left: 37px;
}

.action .action__icon--correct path {
  fill: #ffc600;
}

.action .login__link {
  padding-left: 63px;
  margin-right: 35px;
}

.page-footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer__item {
  margin-right: 52px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-footer__link {
  color: #ffffff;
  text-decoration: none;
}

.page-footer__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__bottom-row {
  justify-content: space-between;
  align-items: center;
}

.page-footere__border-yellow {
  width: 82px;
  height: 7px;
  background-color: #ffc600;
}

.page-footer__social {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-left: 6px;
}

.social__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
  width: 32px;
  height: 32px;
  opacity: 0.2;
  font-size: 0;
  border-radius: 50%;
}

.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.author__link:hover {
  opacity: 0.6;
}

.author__link:active {
  opacity: 0.3;
}

.modal {
  display: none;
  position: fixed;
  top: 53%;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  background-color: #ffffff;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;
}

.modal__close {
  position: absolute;
  top: 22px;
  right: 16px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f7e296;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.modal__close:hover {
  background-color: #f0c52e;
}

.modal__close:active {
  background-color: #faedc0;
}

.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 16px;
  width: 23px;
  height: 2px;
  background-color: #ffffff;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal-write-us {
  top: 4%;
  padding: 0 100px;
  padding-top: 85px;
  padding-bottom: 75px;
  color: #000000;
}

.modal-write-us-row {
  justify-content: space-between;
}

.modal-write-us-left {
  width: 360px;
  margin-bottom: 35px;
}

.modal-write-us-right {
  width: 360px;
}

.modal-write-us__title {
  display: block;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
}

.custom-input {
  width: 100%;
  padding: 16px 21px;
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  outline: none;
  border-radius: 3px;
}

.custom-input:hover {
  background-color: #eaeaea;
}

.custom-input:focus {
  background-color: transparent;
  border-color: #f0c52e;
}

.modal-write-us__area {
  width: 100%;
  min-height: 160px;
  margin-bottom: 35px;
  resize: none;
}

.modal-write-us__submit {
  border: none;
  cursor: pointer;
}

.modal-map {
  top: 20%;
}

.interactive-map {
  width: 100%;
  min-height: 560px;
}
